In [5]:
import pandas as pd
import json

In [15]:
path='D:/Data_analyst/Power_BI/Cricket_Analysis/Data/t20_json_files/t20_wc_match_results.json'
with open('{}'.format(path)) as f:
    data = json.load(f)

In [23]:
df_match = pd.DataFrame(data[0]['matchSummary'])
df_match.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [29]:
df_match.shape

(45, 7)

### Python practicce

In [38]:
num = input("Enter a number: ")
num = int(num)
if num % 2 == 0:
    print("The number is even")
else:
    print ("The number is odd")

Enter a number:  7

The number is odd

In [46]:
indian = ["dal","rice","pav bhaji"]
chinese = ["fried rice","machow soup","hakka noodels"]
italian = ["pizza","burger","pasta"]

dish = input("Enter a dish name: ")
if dish in indian:
    print("Indian")
elif dish in chinese:
    print("Chinese")
elif dish in italian:
    print("Italian")
else:
    print("Other")

Enter a dish name:  fried rice

Chinese

In [ ]:
## Funtion to find area of tirangle

In [76]:
def calculate_area (dim1,dim2,shape='triangle'):
    if shape == "triangle":    
        area = 1/2*(dim1*dim2)
#        print("Area of triangle is : ", area)
    elif shape == "rectangle":
        area = dim1*dim2
#        print("Area of rectangle is: ",area)
    else:
        print("undientified object")
    return area
        
length=10
width=10
rect_area = calculate_area(length,width,"rectangle")
print ("Area of retangle is: ", rect_area)


height=10
base=10
tri_area = calculate_area(height,base,"triangle")
print ("Area of triangle is: ", tri_area)

Area of retangle is:  100
Area of triangle is:  50.0

In [192]:
a=5
for i in range(a):
    s=''
    for j in range(i+1):
        s += '*'
    print (s)

*
**
***
****
*****

In [ ]:
### SORT

In [122]:
def sort(nums):
    for i in range(len(nums)-1,0,-1):
        for j in range(i):
            if nums[j] > nums[j+1]:
                temp=nums[j]
                nums[j]=nums[j+1]
                nums[j+1]=temp

list = [8,5,9,2,1,4,3]

sort(list)
print (list)

[1, 2, 3, 4, 5, 8, 9]

In [128]:
len(list)-1

6

In [140]:
for i in range(6):
    print (i)

0
1
2
3
4
5

In [138]:
for i in range(6,0,-1):
    print (i)
    for j in range(i):
        print (j)

6
0
1
2
3
4
5
5
0
1
2
3
4
4
0
1
2
3
3
0
1
2
2
0
1
1
0

In [ ]:
t=a
a=b
b=t

In [142]:
list=[10,20,1,4,5]

def sort_num(list):
    for i in range(len(list)-1,0,-1):
        for j in range(i):
            if list[j] > list[j+1]:
                temp=list[j]
                list[j]=list[j+1]
                list[j+1]=temp

sort_num(list)
print (list)

[1, 4, 5, 10, 20]

In [ ]:
import pandas as pd

In [152]:
df = pd.read_excel("{}".format(path))
df

NameError: name 'path_editor' is not defined

In [ ]:
for col in df.columns:
    if 'coded' in col:
        continue
    if 'Coded' in col:
        continue
    elif 'caseid' in col:
        continue
    else:
        df.drop(col, axis=1, inplace=True)

In [ ]:
df.to_excel("{}".format(path),index=False)

In [199]:
import os
print (os.getcwd())

C:\Users\acer

In [ ]:
#Factors of a number

In [170]:
def factors(number):
    factors=[]
    for i in range(1,number+1):
        if number%i==0:
            factors.append(i)
    return factors

In [174]:
abc=factors(45)
print (abc)

[1, 3, 5, 9, 15, 45]

In [176]:
abc[0]=3

In [180]:
print (abc)

[3, 3, 5, 9, 15, 45]

In [ ]:
number % i ==0

In [162]:
def factorial(n):
    result=1
    for i in range(1,n+1):
        result=result*i
    return result

In [166]:
factorial(6)

720